<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nexters.zaza">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
            android:name="com.nexters.zaza.ZazaApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.nexters.zaza.MemberActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.nexters.zaza.ui.dream.DreamDetailActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.nexters.zaza.sample.firebase.DatabaseActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.nexters.zaza.sample.firebase.ImageActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.nexters.zaza.ui.dream.DreamActivity"
                  android:launchMode="singleTop"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.nexters.zaza.ui.alarm.AlarmActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.nexters.zaza.MainActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name="com.nexters.zaza.util.alarm.AlarmReceiver">
        </receiver>
        <service android:name="com.nexters.zaza.util.alarm.RingtoneService" android:enabled="true">
        </service>
    </application>

</manifest>